<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Anime listesi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (isLoading) {
    <ion-list class="ion-padding-top">
      @for (i of dummyArray; track i) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
          <ion-skeleton-text>sssS</ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height: 40px" />
      </ion-item>
      }
    </ion-list>
    } @else if (error) {
    <ion-alert
      header="Error"
      [message]="error"
      isOpen="true"
      [buttons]="['Ok']"
    />
    }
    <ion-list class="ion-padding-top">
      @for (item of animes; track item.mal_id) {
        <ion-item button [routerLink]="['/details',item.mal_id]"  routerLinkActive="router-link-active"  >
          <ion-avatar slot="start">
            <img [src]="item.images.jpg.image_url" />
          </ion-avatar>

          <ion-label class="ion-text-wrap">
            <h3>{{ item.title }}</h3>
            <p>{{ item.year}}</p>
          </ion-label>

          <ion-badge slot="end"> {{ item.rating }} </ion-badge>
        </ion-item>
      }
      @empty {
        @if (!isLoading) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">Hiç anime bulunamadı</ion-label>
        </ion-item>
        }
      }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="yükleniyor"
      />
    </ion-infinite-scroll>

</ion-content>
